

#forms_page {
	height: 100%;
	width: 100%;
	background-color: black;

}

#forms_page p {
	font-family:Tahoma, Geneva, sans-serif;
	/*font-family: 'Wire One', sans-serif;*/
	color: #98FFCC;
	font-size: 20px;
}


#forms_page div#navbar {
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://bit.ly/28NdCMY);
	height: 120px;
	width: 100%;
	position: absolute;
}


