@import url(https://fonts.googleapis.com/css?family=Wire+One);

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}



div#home_page {
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://bit.ly/28JeRs1);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; /*viewport does not move when content's height is bigger than img height*/
	background-size: cover;
	background-color: #464646; /*color when loading image*/
	height: 100%;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;

}

p {
	font-family:Tahoma, Geneva, sans-serif;
	font-family: 'Wire One', sans-serif;
	font-size: 100px;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

a.btn.btn-default {
	background-color: transparent;
	border:  white solid 2px;
	border-radius: 3px;
	color: white;
	font-family:Tahoma, Geneva, sans-serif;
	font-family: 'Wire One', sans-serif;
	font-size: 40px;
	padding: 0 80px 0 80px; /*top right bottom left*/
	-webkit-animation-name: mintPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;

}

@-webkit-keyframes mintPulse {
  from {-webkit-box-shadow: 0 0 7px #000;}
  50% {-webkit-box-shadow: 0 0 14px #98FFCC;}
  to {-webkit-box-shadow: 0 0 7px #000;}
}

a.btn.btn-default:hover {
	border-color: #98FFCC;
	color: #98FFCC;
	-webkit-animation-play-state: paused;
}

.row {
	text-align: center;
}



