@import url(https://fonts.googleapis.com/css?family=Wire+One);

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;


	
}

div#opacity {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);

}

div#home_page {
	background-image: url(http://bit.ly/28JeRs1);
	/*background-repeat:no-repeat;
	background-size:contain;
	background-position:center;*/
	/*image-resolution: 300dpi;*/
	background-position: center center;
	 background-repeat: no-repeat;
	  background-attachment: fixed;
	    background-size: cover;
	    background-color: #464646;
	    height: 100%;
	    width: 100%;
}

p {
	font-family: 'Wire One', sans-serif;
	font-size: 50px;
	text-align: center;
	color: white;
}

.container {
	padding-top: 10%;
}

.row {
	text-align: center;
}

