<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/views/forms.html">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
  <form action="" method="POST" role="form">
    <legend>Form title</legend>
  
    <div class="form-group">
      <label for="">label</label>
      <input type="text" class="form-control" id="" placeholder="Input field">
    </div>
  
    
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>
</html>